In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from pandas.compat import StringIO
from pandas.io.common import urlopen
from IPython.display import display, display_pretty, Javascript, HTML
from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts

### Get Data

In [2]:
import requests # Python 2.7, requests version 2.12.4

url = 'http://dataservices.imf.org/REST/SDMX_JSON.svc/'
key = 'CompactData/IFS/M.GB.PMP_IX' # adjust codes here
data = requests.get('{}{}'.format(url,key)).json()

In [3]:
# Navigate to observations in JSON data
obs = data['CompactData']['DataSet']['Series']['Obs']
#baseyr = obs[-1]['@BASE_YEAR']  # Save the base year

# Create pandas dataframe from the observations
df = pd.DataFrame(obs)[['@OBS_VALUE','@TIME_PERIOD']]
df.columns = ['Value', 'Date']
df.loc[:,'Value'] = df['Value'].astype(float).round(1)
df = df.set_index(pd.to_datetime(df['Date']))['Value']
df = pd.DataFrame(df)

In [5]:
df

            Value
Date
2010-01-01   96.5
2010-02-01   97.3
2010-03-01  100.4
2010-04-01  100.1
2010-05-01  100.8
2010-06-01   99.5
2010-07-01   99.3
2010-08-01   98.8
2010-09-01   99.8
2010-10-01  101.6
2010-11-01  101.3
2010-12-01  104.6
2011-01-01  104.5
2011-02-01  104.6
2011-03-01  107.0
2011-04-01  108.5
2011-05-01  108.2
2011-06-01  109.2
2011-07-01  110.0
2011-08-01  109.2
2011-09-01  110.8
2011-10-01  110.3
2011-11-01  109.9
2011-12-01  109.0
2012-01-01  110.0
2012-02-01  110.6
2012-03-01  111.5
2012-04-01  109.9
2012-05-01  108.4
2012-06-01  107.7
...           ...
2014-12-01  101.7
2015-01-01  101.7
2015-02-01  100.8
2015-03-01  101.4
2015-04-01  101.8
2015-05-01  101.2
2015-06-01  100.0
2015-07-01   99.3
2015-08-01   98.7
2015-09-01   99.4
2015-10-01   98.8
2015-11-01   97.0
2015-12-01   98.3
2016-01-01   98.3
2016-02-01   99.0
2016-03-01   99.8
2016-04-01   96.6
2016-05-01   96.5
2016-06-01   97.8
2016-07-01  100.8
2016-08-01  100.8
2016-09-01  100.5
2016-10-01  103.8
2016-11-01  103.0
2016-12-01  103.1
2017-01-01  105.4
2017-02-01  104.5
2017-03-01  106.0
2017-04-01  104.7
2017-05-01  103.8

[89 rows x 1 columns]

### Display Charts

In [4]:
display_charts(df, title="UK inflation rate", legend=False)